.title{
    background-color: blueviolet;
    font-weight:200;
    color:whitesmoke;
}

#box-top{
    color: whitesmoke;
    background:blueviolet;
    font-weight: bold;
    border-radius:5px;
}
.add-train-container{
    border:1px solid blueviolet;
    margin-top:30px;
    border-radius:8px;
}

.btn {
    background-color:blueviolet;
}

.btn:hover{
    background-color:violet;
}

